{{ _view.assign('title', title) }}
<section class="content-header">
    <h1>
        Home
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ Url.build('/') }}"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><a href="{{ Url.build('/crm/home') }}">Progest</a></li>
    </ol>
</section>
<section class="content">
  <div class="row">
     <div class="col-lg-3 col-xs-6">

          <!-- Contatore Aziende -->
          {{ _view.Element('infoBox_widget',{'label':'<b>COMMITTENTI</b> CARICATI','boxClass':'bg-orange','icon':'fa fa-industry','label_link':'Gestione <span class="no-mobile">Committenti</span>','url':'/aziende','tot':tot.aziende}) | raw }}

        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">

          <!-- Contatore Aziende -->
          {{ _view.Element('infoBox_widget',{'label':'<b>CONTATTI</b> CARICATI','boxClass':'bg-teal','icon':'ion ion-android-contacts','label_link':'Gestione <span class="no-mobile">Contatti</span>','url':'/aziende/contatti/index/all','tot':tot.contatti}) | raw }}

        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">

          <!-- Contatore Aziende -->
          {{ _view.Element('infoBox_widget',{'label':'<span style="letter-spacing: -0.3px;"><b>BUONI D\'ORDINE</b> CARICATI</span>','boxClass':'bg-maroon','icon':'ion ion-clipboard','label_link':'Gestione <span class="no-mobile">Buoni Ordine</span>','url':'/aziende/orders/index/all','tot':tot.ordini}) | raw }}

        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">

          <!-- Contatore Aziende -->
          {{ _view.Element('infoBox_widget',{'label':'<b>INDICATORE</b> 4','boxClass':'bg-purple','icon':'ion ion-folder','label_link':'Gestione <span class="no-mobile">Indicatore</span>','url':'#','tot':'0'}) | raw }}


        </div><!-- ./col -->
      </div>
      <div class="row">

      <div class="col-lg-7">

        <!-- Timeline -->
        {{ _view.Element('timeline_widget',{'label':'Ultimi movimenti'}) | raw }}



      </div>
      <div class="col-lg-5">

        <!-- Andamento Ordini -->
        {{ _view.Element('lineChart_widget',{'id':'ordiniChart','label':'Andamento Buoni d\'ordine','boxClass':'box-success',
          'chartData':ordersChart, 'icon':'ion ion-arrow-graph-up-right', 'point':true}) | raw }}

        <!-- Ruoli dei contatti -->
        {{ _view.Element('pieChart_widget',{'id':'contattiRuoliChart','label':'Ruoli dei contatti','boxClass':'box-warning','icon':'ion ion-android-contacts','chartData':ruoliChart}) | raw }}


        <!-- Ultimi accessi -->
        {{ _view.Element('usersList_widget',{'label':'Ultimi accessi','boxClass':'box-info'}) | raw }}

      </div>

    </div>
</section>
